@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    .myShadow {
        box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04), 0px 4px 16px rgba(51, 51, 51, 0.08);
    }

    .myShadowHover {
        box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04), 0px 4px 56px rgba(51, 51, 51, 0.16)
    }

    .myShadowActive {
        box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04), 0px 4px 24px rgba(51, 51, 51, 0.24);
    }

    .myShadowVideo {
        box-shadow: 0px 8px 8px rgba(51, 51, 51, 0.08), 0px 8px 32px rgba(51, 51, 51, 0.58);
    }

    .scale-animation {
        animation: scaleAnimation 2s;
    }

    .borderAnimationOne {
        animation: driveAnimationOne 0.5s ease-in-out forwards;
    }

    .borderAnimationTwo {
        animation: driveAnimationOne 0.5s ease-in-out 0.5s forwards;
    }

    .borderAnimationThree {
        animation: driveAnimationOne 0.5s ease-in-out 1s forwards;
    }

    @keyframes driveAnimationOne {
        from {
            width: 0;
        }

        to {
            width: 100%;
        }
    }

}

* {
    scroll-behavior: smooth;
}